- var data = require('../app.config.json');
- var share_image = data.share_image+'?fit=pad&w=1200&h=627&bg=white'
//- - var gallery = require('../app.gallery.json');
include mixins.pug

doctype html
html(lang='en')
    head
        title #{data.title} - #{data.description}
        meta(charset='utf-8')
        meta(name='description' content=data.description)
        meta(name='image' content=data.url + data.logo)
        meta(itemprop='name' content=data.title)
        meta(itemprop='description' content=data.description)
        meta(itemprop='image' content=data.url + data.logo)
        meta(property='article:published_time' content='September 12, 2018')
        meta(name='twitter:card' content='summary')
        meta(name='twitter:title' content=data.title)
        meta(name='twitter:description' content=data.description)
        meta(name='twitter:site' content=data.twitter)
        meta(name='twitter:creator' content=data.twitter)
        meta(name='twitter:image' content=share_image)
        meta(name='og:title' content=data.title)
        meta(name='og:description' content=data.description)
        meta(name='image' property='og:image' content=share_image)
        meta(name='og:url' content=data.url)
        meta(name='og:site_name' content=data.title)
        meta(name='og:locale' content='en')
        meta(name='og:type' content='website')
        meta(http-equiv='X-UA-Compatible' content='IE=edge')
        meta(name='viewport' content='width=device-width, initial-scale=1, maximum-scale=5')
        meta(name='theme-color' content=data.theme_color)
        meta(name='google-site-verification' content='cCfehmvHhVbGWhry8bx_m1CqScd6qaCoDO8_swNFE2I')
        link(rel='shortcut icon' type='image/favicon' href='favicon.ico')
        base(href="/")
        //- GTM head script
        script.
            dataLayer = [{
                currentBranch: '{{ BRANCH }}'
            }];
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','GTM-MVXG5LZ');
        //- script(async src='https://www.googletagmanager.com/gtag/js?id=' + data.ga)
        //- script.
        //-   window.dataLayer = window.dataLayer || [];
        //-   function gtag(){dataLayer.push(arguments);}
        //-   gtag('js', new Date());
        //-   gtag('config', '#{data.ga}');
    body
        <!--[if lte IE 8]><script charset="utf-8" type="text/javascript" src="//js.hsforms.net/forms/v2-legacy.js"></script><![endif]-->
        script(charset='utf-8' type='text/javascript' src='//js.hsforms.net/forms/v2.js')
        //- Google Tag Manager (noscript)
        <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-MVXG5LZ" height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
        block content
        block foot
            //- section#footer
        script(type='application/ld+json').
            {
              "@context":"http://schema.org",
              "@type":"Book",
              "name" : "#{data.title}",
              "author": [{
                  "@type":"Person",
                  "name":"Travis Good, MD"
                },
                {
                  "@type":"Person",
                  "name":"Kris Gosser"
                }],
              "url" : "#{data.url}",
              "workExample" : [{
                "@type": "Book",
                "isbn": "978-0-46-494702-8",
                "bookEdition": "2nd Edition",
                "bookFormat": "http://schema.org/Softcover",
                "potentialAction":{
                "@type":"ReadAction",
                "target":
                  {
                    "@type":"EntryPoint",
                    "urlTemplate":"https://www.amazon.com/Complete-Cloud-Compliance-Risk-Transformation/dp/1364016451/",
                    "actionPlatform":[
                      "http://schema.org/DesktopWebPlatform",
                      "http://schema.org/IOSPlatform",
                      "http://schema.org/AndroidPlatform"
                    ]
                  },
                  "expectsAcceptanceOf":{
                    "@type":"Offer",
                    "Price":"30-40",
                    "priceCurrency":"USD",
                    "availability": "http://schema.org/InStock"
                  }
                }
              }]
            }
